<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>


  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="CustomWsBinding">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="CustomServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>

          <serviceCredentials>
            <serviceCertificate 
              findValue="MyWebSite1" 
              storeLocation="LocalMachine" 
              storeName="My" 
              x509FindType="FindBySubjectName"/>
            
            <userNameAuthentication userNamePasswordValidationMode="Custom" 
                                    customUserNamePasswordValidatorType="WcfServiceAuth.Service1.NameValidator, WcfServiceAuth.Service1"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="WcfServiceAuth.Service1.Service1" 
               behaviorConfiguration="CustomServiceBehavior">
        <endpoint address="" 
                  binding="wsHttpBinding" 
                  bindingConfiguration="CustomWsBinding" 
                  contract="WcfServiceAuth.Service1.IService1">          
        </endpoint>
        <endpoint binding ="mexHttpBinding" 
                  address="mex" 
                  contract="IMetadataExchange"/>
      </service>
    </services>
    
  </system.serviceModel>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
