<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>



  <system.serviceModel>

    <bindings>
      <wsHttpBinding>
        <binding name="custom_binding">        
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
      <!--<wsFederationHttpBinding>
        <binding name="custom_binding">
          <security mode="Message">
            <message>              
            </message>
          </security>
        </binding>
      </wsFederationHttpBinding>-->
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="custom_behavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>

          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="WcfServiceAuth.Authorize.Service.CustomAuthorizationProlicy, WcfServiceAuth.Authorize.Service"/>
            </authorizationPolicies>
          </serviceAuthorization>

          <serviceCredentials>
            <serviceCertificate findValue="MyWebSite2"
                                storeLocation="LocalMachine"
                                storeName="My"
                                x509FindType="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="WcfServiceAuth.Authorize.Service.CustomUsernamePasswordValidator, WcfServiceAuth.Authorize.Service"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="WcfServiceAuth.Authorize.Service.Service1" behaviorConfiguration="custom_behavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="custom_binding" contract="WcfServiceAuth.Authorize.Service.IService1"></endpoint>
        <endpoint address="mex" contract="IMetadataExchange" binding="mexHttpBinding" />
      </service>
    </services>

  </system.serviceModel>



  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
