<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>


  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="custom_behavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>

          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="WcfServiceLibraryWs2007HttpBinding.CustomAuthorize, WcfServiceLibraryWs2007HttpBinding"/>
            </authorizationPolicies>
          </serviceAuthorization>

          <serviceCredentials>
            <serviceCertificate findValue="First" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="WcfServiceLibraryWs2007HttpBinding.UsernamepasswordValidator, WcfServiceLibraryWs2007HttpBinding"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <ws2007HttpBinding>
        <binding name="custom_binding">
          <security mode="TransportWithMessageCredential">
            <!--<message clientCredentialType="UserName"/>-->
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>

    <services>
      <!--<service name="WcfServiceLibraryWs2007HttpBinding.Service1">
        <endpoint address ="" contract="WcfServiceLibraryWs2007HttpBinding.IService1" binding="basicHttpBinding"/>
      </service>-->
      <service name="WcfServiceLibraryWs2007HttpBinding.Service1" behaviorConfiguration="custom_behavior">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="custom_binding" contract="WcfServiceLibraryWs2007HttpBinding.IService1"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
