<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>


  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="custom_behavior">

          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                                    customUserNamePasswordValidatorType="WCFTest.Ws2007HttpBinding.Transport.Security.Example.Service.CustomAuthenticationValidator, WCFTest.Ws2007HttpBinding.Transport.Security.Example.Service"/>
            <serviceCertificate findValue="First" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
          </serviceCredentials>

          <serviceMetadata httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <ws2007HttpBinding>
        <binding name="custom_binding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
          <readerQuotas maxArrayLength="65536" maxStringContentLength="65536" maxBytesPerRead="65536"/>
        </binding>
      </ws2007HttpBinding>
    </bindings>

    <services>
      <service name="WCFTest.Ws2007HttpBinding.Transport.Security.Example.Service.SecureService" behaviorConfiguration="custom_behavior">
        <endpoint binding="ws2007HttpBinding" bindingConfiguration="custom_binding" 
                  address="https://localhost/WCFTest.Ws2007HttpBinding.Transport.Security.Example.Service/SecureService.svc" contract="WCFTest.Ws2007HttpBinding.Transport.Security.Example.Service.ISecureService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
